[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "extraChIPs"]
	path = extraChIPs
	url = https://github.com/smped/extrachips
[submodule "ngsReports"]
	path = ngsReports
	url = https://github.com/smped/ngsreports
[submodule "transmogR"]
	path = transmogR
	url = https://github.com/smped/transmogr
